{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis elementum est,
        ut tempor urna mattis eget. Morbi sollicitudin lorem eget lorem bibendum molestie pellentesque
        quis justo. Etiam massa massa, pharetra nec viverra non, iaculis id sapien. Mauris at neque vel odio finibus
        iaculis. Nam in enim dolor. Vivamus lobortis, odio a condimentum sollicitudin, ante eros pretium leo, non luctus
        ligula nisi cursus neque. Praesent mattis massa felis, vel dictum sem cursus nec. Nam luctus ac nisl ac
        bibendum. Pellentesque tempus pretium enim, sit amet malesuada purus ultricies dignissim. Etiam sit amet dapibus
        tellus. Ut fermentum nulla non diam commodo, vitae congue tellus lobortis. Quisque imperdiet blandit nulla, quis
        tincidunt felis porttitor non. Integer ultricies nisi ut rutrum pellentesque. Vestibulum aliquet facilisis
        sapien vehicula vulputate. </p>
{{end}}