{{define "title"}}Change Password{{end}}

{{define "main"}}
    <h2>Change Password</h2>
    <form action="/account/password/update" method="post" novalidate>
        <input type="hidden" value="{{.CSRFToken}}" name="csrf_token">
        <div>
            <label for="current_password">Current password:</label>
            {{with .Form.FieldErrors.current_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="current_password" value="{{.Form.CurrentPassword}}" id="current_password">
        </div>
        <div>
            <label for="new_password">New password:</label>
            {{with .Form.FieldErrors.new_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" name="new_password" value="{{.Form.NewPassword}}" id="new_password">
        </div>
        <div>
            <label for="confirm_new_password">Confirm new password:</label>
            {{with .Form.FieldErrors.confirm_new_password}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="password" value="{{.Form.ConfirmNewPassword}}" name="confirm_new_password"
                   id="confirm_new_password">
        </div>
        <input type="submit" value="Change password">
    </form>
{{end}}